  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button routerLink="/">App Peliculas</button>
  <span class="example-spacer"></span>
  <button  mat-raised-button routerLink="peliculas" routerLinkActive="mat-accent" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Peliculas
  </button>
  <button  mat-raised-button routerLink="series" routerLinkActive="mat-accent" class="example-icon" aria-label="Example icon-button with share icon">
   Series
 </button>
</mat-toolbar>