.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: grey;
    height: 100%;
}

Form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
mat-form-field {
    display: flex;
    flex-direction: column;
}

.smallText {
    color: red;
}